<div class="main posts-index">
  <div class="container">
  
  <%= search_form_for(@q, url: posts_path) do |f| %>
    <%= f.label :title, "Keyword" %>
    <%= f.search_field :title_cont %>
    <%= f.submit "検索" %>
  <% end %>

    <!--投稿始まり-->
    <% @posts.each do |post| %>
      <div class="posts-index-item">
    
        <%= link_to(post.title,"/posts/#{post.id}") %><br>
        
        <%= link_to '<参加するボタン>', post.url %><br>
        
        <%=post.reference %><br>

        <p>tags: <%= post.tag_list %></p>

        

      </div>
    <% end %>
  </div>